{% extends 'base-table.html' %}
{% block content %}
<div class="container" style="background: rgb(222,222,222); padding-top: 20px;">
	<h2>Удаление групп устройств</h2>
	<form method="POST"  action="/action_{{ url_action }}_{{ url_type }}">
		<br>
		<label>Группы</label>
		<div style="overflow-y: scroll; max-height: 200px; padding-left: 20px; background: white; border-radius: 5px;">
			<div data-spy="scroll" data-offset="0">
				{% for group in groups %}
					<div class="form-check">
					  <input class="form-check-input" name="del_group_names" type="checkbox" value="{{group.name}}" id="id_{{group.name}}">
					  <label class="form-check-label" for="id_{{group.name}}">
						{{group.name}}: {{group.description}}
					  </label>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="col" style="padding: 10px 0 20px 0;">
			<button type="submit" name="del_group_submit" value="True" class="btn btn-primary">Удалить</button>
		</div>
	</form>
</div>
{% endblock %}