{% extends 'base-table.html' %}
{% block refresh %}
<meta http-equiv="refresh" content="60">
{% endblock %}
{% block content %}
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Device name</th>
				<th scope="col">IP</th>
				<th scope="col">Status</th>
				<th scope="col">SNMP Name</th>
				<th scope="col">Last Discovery</th>
				<th scope="col">Last Online</th>
			</tr>
		</thead>
		<tbody>
			{% for dev in devices %}
				<tr>
					
					{% if dev.monitoring == 'disable'%}
						<td style="color:#cccccc," >{{ dev.name }}</td>
						<td style="color:#cccccc" >{{ dev.ip }}</td>
						<td ><span class="gray-dot"></span></td>
						<td style="color:#cccccc" >{{ dev.snmp_name }}</td>
						<td style="color:#cccccc" >{{ dev.last_discovery }}</td>
						<td style="color:#cccccc" >{{ dev.last_online }}</td>
					{% else %}
						<td>{{ dev.name }}</td>
						<td>{{ dev.ip }}</td>
						{% if dev.status == 'online' %}
							<td><span class="green-dot"></span></td>
						{% else %}
							<td><span class="red-dot"></span></td>
						{% endif %}
						{% if dev.monitoring_snmp == 'enable' %}
							<td>{{ dev.snmp_name }}</td>
						{% else %}
							<td style="color:#cccccc">{{ dev.snmp_name }}</td>
						{% endif %}
						<td>{{ dev.last_discovery }}</td>
						<td>{{ dev.last_online }}</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
