{% extends 'base-table.html' %}
{% block refresh %}
<meta http-equiv="refresh" content="60">
{% endblock %}
{% block content %}
<div class="table-responsive">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th scope="col" rowspan="2">Device name</th>
				<th scope="col" rowspan="2">Group</th>
				<th scope="col" rowspan="2">IP</th>
				<th scope="col" rowspan="2">Status</th>
				<th scope="col" rowspan="2">Last Discovery</th>
				<th scope="col" rowspan="2">Last Online</th>
			</tr>
			<tr>
				<th>Name</th>
				<th>RX Signal</th>
				<th>TX Signal</th>
				<th>Distance</th>
				<th>CCQ</th>
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
</div>
{% endblock %}
